body {
	background-color: #008566;
	/*background-color: rgba(255, 83, 73, 1);*/
  font-family: 'Varela Round', sans-serif;
}

img {
  padding-top: 50px;
  padding-left: 20px;
}

#uk {
  color: white;
  text-align: center;
  font-size: 135px;
  padding-top: 700px;
  padding-left: 80px;
}

#uk li {
  list-style: none;
  position: absolute;
  opacity: 0;
}

#uk li.active {
  animation: fadeInOut 0.6s ease;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  20% {
    opacity: 1;
    transform: translateX(0px);
  }
  90% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}


.button-group {
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
}


.button-group button {
  background-color: #008566;
  color: white;
  padding: 30px 24px;
  cursor: pointer;
  float: left;
  font-size: 60px;
}

#b-button {
  background-color: black;
}

.button-group button:not(:last-child) {
  border-right: none;
}
